@using WebApplication1.ViewModels;
@model EmployeeViewModels
 @{ 
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
   
    
        <h1>你好,@Model.UserName</h1>
        <hr/>
    <div>
        <b>员工信息</b><br/>
        姓名：@Model.EmployeeName<br/>
        工资：@Model.EmployeeSalary<br/>
        级别：@Model.EmployeeGrade
</div>
</body>
</html>
